# Node modules / Dependencies
node_modules/

# Sensitive WhatsApp Session Keys (DO NOT UPLOAD)
auth_info_baileys/

# Local Environment Variables & Secrets
.env
.env.local

# Uploaded Files & Temporary Storage
public/uploads/*
!public/uploads/.gitkeep

# System & Log Files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.DS_Store
Thumbs.db
